<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ganton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A98CA37B1BC75A5700695BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A98CA3941BC75A5800695BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A98CA39F1BC75A5800695BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
